.topNav {
    background-color: lightskyblue;
    overflow: hidden;
}

.topNav a {
    float: left;
    color: white;
    text-align: center;
    padding: 25px 20px;
    font-size: 18px;
}

.topNav a:hover {
    color: gray;
}

.topNav a.active {
    background-color: red;
}

.topNav a.sign {
    float: right;
}

.topNav a.activeSign {
    background-color: red;
    float: right;
}